<div class="main-container">
    <div class="phone-container">
        <div class="phone">
            <div class="phone-header">
                <div class="phone-i-header">

                </div>
            </div>
            <div class="phone-container">
            </div>
            <div class="button-container">
                <div class="button-i-container">

                </div>
            </div>
        </div>
    </div>
    <div class="text-box">
        <div>
            <h2 class="text-color">This Device is Not compatable<br> Please use a desktop</h2>
        </div>
    </div>
</div>