<div class="innermaincontainer md:flex-row">
    <div class="rightcontainer">
        <div class="namediv">
            <div class="hellodiv">
                Hi,
            </div>
            <div class="namedivtext">
                I'm {{displayText}}
            </div>
            <div class="designationdiv">
                Front End Developer
            </div>
        </div>
        <div class="resumediv">
            <div (click)="downloadcv()" class="downloadbuttondiv">
                <div class="downloadtext">
                    Download CV
                </div>
                <div class="downloadbtnsection">
                    <i class="downloadbutton" [class]="icons.DOWNLOAD"></i>
                </div>
            </div>
        </div>
        <div class="informationdiv">
            I love to create beautiful and functional websites. <br>
            I have {{totalexperience}}+ years of experience in developing Web
            Applications using Angular, React Frameworks.
        </div>
    </div>
</div>