     @import "primeicons/primeicons.css";
     @import "tailwindcss";

     :host {
       --bright-blue: oklch(51.01% 0.274 263.83);
       --electric-violet: oklch(53.18% 0.28 296.97);
       --french-violet: oklch(47.66% 0.246 305.88);
       --vivid-pink: oklch(69.02% 0.277 332.77);
       --hot-red: oklch(61.42% 0.238 15.34);
       --orange-red: oklch(63.32% 0.24 31.68);
       --white: oklch(100% 0.00011 271.152);

       --gray-900: oklch(19.37% 0.006 300.98);
       --gray-700: oklch(36.98% 0.014 302.71);
       --gray-400: oklch(70.9% 0.015 304.04);

       --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
           var(--orange-red) 0%,
           var(--vivid-pink) 50%,
           var(--electric-violet) 100%);

       --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
           var(--orange-red) 0%,
           var(--vivid-pink) 50%,
           var(--electric-violet) 100%);

       --pill-accent: var(--bright-blue);

       font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
         Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
         "Segoe UI Symbol";
       box-sizing: border-box;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
     }

     .mat-mdc-menu-content {
       padding: 0 !important;
     }

     .cdk-overlay-pane {
       background: transparent !important;
     }

     .mat-mdc-menu-panel {
       backdrop-filter: blur(4px);
       background: transparent !important;
       border-radius: 0 !important;
     }

     .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
       background: #0EC77A !important;
     }

     .p-toggleswitch-slider {
       background: #fff !important;
       box-shadow: inset 0 0 3px #000 !important;
     }

     .p-toggleswitch-handle {
       background: #000 !important;
     }

     body {
       user-select: none;
     }

     div {
       cursor: default;

       ::-webkit-scrollbar {
         width: 0.1em;
       }
     }

     h1 {
       cursor: default;
       font-size: 3.125rem;
       color: var(--white);
       font-weight: 500;
       line-height: 100%;
       letter-spacing: -0.125rem;
       margin: 0;
       font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
         Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
         "Segoe UI Symbol";
     }

     p {
       margin: 0;
       color: var(--white);
     }

     main {
       width: 100%;
       min-height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 1rem;
       box-sizing: inherit;
       position: relative;
     }

     .angular-logo {
       max-width: 9.2rem;
     }

     .content {
       display: flex;
       justify-content: space-around;
       width: 100%;
       max-width: 700px;
       margin-bottom: 3rem;
     }

     .content h1 {
       margin-top: 1.75rem;
     }

     .content p {
       margin-top: 1.5rem;
     }

     .divider {
       width: 1px;
       background: var(--red-to-pink-to-purple-vertical-gradient);
       margin-inline: 0.5rem;
     }

     .pill-group {
       display: flex;
       flex-direction: column;
       align-items: start;
       flex-wrap: wrap;
       gap: 1.25rem;
     }

     .pill {
       display: flex;
       align-items: center;
       --pill-accent: var(--bright-blue);
       background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
       color: var(--pill-accent);
       padding-inline: 0.75rem;
       padding-block: 0.375rem;
       border-radius: 2.75rem;
       border: 0;
       transition: background 0.3s ease;
       font-family: var(--inter-font);
       font-size: 0.875rem;
       font-style: normal;
       font-weight: 500;
       line-height: 1.4rem;
       letter-spacing: -0.00875rem;
       text-decoration: none;
     }

     .pill:hover {
       background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
     }

     .pill-group .pill:nth-child(6n + 1) {
       --pill-accent: var(--bright-blue);
     }

     .pill-group .pill:nth-child(6n + 2) {
       --pill-accent: var(--french-violet);
     }

     .pill-group .pill:nth-child(6n + 3),
     .pill-group .pill:nth-child(6n + 4),
     .pill-group .pill:nth-child(6n + 5) {
       --pill-accent: var(--hot-red);
     }

     .pill-group svg {
       margin-inline-start: 0.25rem;
     }

     .social-links {
       display: flex;
       align-items: center;
       gap: 0.73rem;
       margin-top: 1.5rem;
     }

     .social-links path {
       transition: fill 0.3s ease;
       fill: var(--gray-400);
     }

     .social-links a:hover svg path {
       fill: var(--gray-900);
     }



     .maincontainer {
       height: 100dvh;
       width: 100dvw;
       position: fixed;
       left: 0;
       top: 0;
       background-color: #f5f5f5;
       line-height: 6vh;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;


       .left_container {
         height: 100%;
         width: 32%;
         display: flex;
         justify-content: flex-start;
         align-items: center;

         .side_detailscircle {
           height: 100%;
           width: 100%;
           border-radius: 0 100% 100% 0;
           background: #0EC77A;
           box-shadow: 0 0 12px #000;
           justify-content: center;
           align-items: center;
           display: flex;
         }
       }

       .right_container {
         height: 100%;
         width: 65%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;

         .firstdiv {
           width: 100%;
           height: 10%;
           display: flex;
           justify-content: end;
           align-items: center;
           /* padding: 1em; */

           .settingsdiv {
             position: fixed;
             top: 1em;
             right: 1em;
             cursor: pointer;
             height: 2em;
             width: 2em;
             display: flex;
             justify-content: center;
             align-items: center;

             .settingsicon {
               font-size: 3vh;
               color: #000;
             }
           }


         }

         .maindiv {
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100%;
           background: transparent;
           padding: 15vh 0;
           padding-left: 6%;
           overflow: overlay;
           backdrop-filter: blur(5px);

           .innermaincontainer {
             width: 100%;
             height: 100%;
             position: relative;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             align-items: center;

             .rightcontainer {
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               gap: 4vh;

               .namediv {
                 width: 100%;
                 display: flex;
                 justify-content: center;
                 flex-direction: column;

                 .hellodiv {
                   font-size: 6vh;
                   font-weight: 500;
                 }

                 .namedivtext {
                   font-size: 6vh;
                   font-weight: 400;
                   animation: blink 0.7s step-end infinite;
                 }

                 @keyframes blink {
                   50% {
                     border-color: transparent;
                   }
                 }

                 .designationdiv {
                   font-size: 5.5vh;
                   font-weight: 400;
                 }
               }

               .resumediv {
                 width: 100%;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;

                 .downloadbuttondiv {
                   height: 8vh;
                   border: 1.5px solid #0EC77A;
                   width: 35vh;
                   border-radius: 10vh;
                   overflow: hidden;
                   display: flex;
                   flex-direction: row;
                   align-items: center;
                   justify-content: center;
                   gap: 1em;
                   background-image: linear-gradient(to right, #0EC77A 0%, #34ff80 60%, #abffca 100%);
                   cursor: pointer;

                   .downloadtext {
                     cursor: pointer;
                     font-size: 3vh;
                     font-weight: 500;
                     text-align: center;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                   }

                   .downloadbtnsection {
                     cursor: pointer;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     .downloadbutton {
                       background: -webkit-linear-gradient(#004f9f, #ff0000);
                       -webkit-background-clip: text;
                       -webkit-text-fill-color: #00000000;
                       /* color: #000; */
                       font-size: 3vh;
                     }
                   }

                 }

               }

               .informationdiv {
                 width: 100%;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
                 font-size: 3.5vh;
                 font-weight: 500;
                 line-height: 1.5em;
                 padding-right: 10vw;
               }
             }
           }
         }
       }


       .navbarmenu {
         position: fixed;
         width: 100%;
         height: fit-content;
         bottom: 0.5vh;
         display: flex;
         justify-content: center;
         align-items: center;


         .navbarmenucontainer {
           width: fit-content;
           background: #00000017;
           height: 80%;
           border-radius: 5vh;
           -webkit-backdrop-filter: blur(5px);
           backdrop-filter: blur(5px);
           box-shadow: 0 0 2px #000, inset 0 0 3px #dfdfdf;
           overflow: hidden;

           .logodiv {
             display: flex;
             justify-content: space-evenly;
             align-items: center;
             width: 100%;
             height: 100%;
             overflow: hidden;
             padding: 0.3em;
             gap: 2vh;

             .logos {
               height: 100%;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 5vh;
               cursor: pointer;

               .menulogos {
                 color: #000;
                 font-size: 2.5vh;
                 padding: 2vh;
               }
             }

             .selectednavitem {
               background-image: linear-gradient(to bottom, #0EC77A 0%, #34ff80 60%, #abffca 100%);

               .menulogos {
                 transform: scale(1.5);
                 background: -webkit-linear-gradient(#004f9f, #ff0000);
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: #00000000;
               }
             }

             .logos:hover {
               .menulogos {
                 transform: scale(1.5);
                 transition: all 0.2s ease-in-out;
               }
             }
           }
         }
       }
     }


     .themechangemenu {
       height: 25vh;
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       flex-direction: column;
       gap: 1em;
       background: #f9f9f900 !important;
       overflow: hidden;
       padding: 3vh;

       .themetextdiv {
         height: 10%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         h1 {
           color: #000;
           font-size: 2.5vh;
           font-weight: 500;
           letter-spacing: 0.05em;
         }
       }

       .themechangediv {
         width: 75%;
         padding: 0.5vh;
         height: 5vh;
         background: #0000;
         box-shadow: inset 0 0 5px #333;
         border-radius: 5vh;
         display: flex;
         justify-content: space-evenly;
         align-items: center;

         .themebutton {
           height: 90%;
           width: 40%;
           border-radius: 4vh;
           color: #fff;
           align-content: center;
           justify-content: center;
           display: flex;
           align-items: center;
           font-size: 1em;
           padding: 2vh;
           transition: transform 0.2s ease, background-color 0.2s ease;
           cursor: pointer;

           #themeicon {
             color: #000;
             font-size: 2vh;
           }

         }

         .selectedicon {
           width: 55%;
           background: #ff8c00;
         }

       }


       .autothemediv {
         height: 2.5em;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 1em;

         .autothemtext {
           font-size: 2vh;
           font-weight: 300;
           color: #000;
         }
       }
     }

     .themechangemenu_dark {
       background: #39393900 !important;

       .themetextdiv {
         h1 {
           color: #f5f5f5 !important;
         }
       }

       .themechangediv {
         background: #161616 !important;
         box-shadow: inset 0 0 8px #333 !important;

         .themebutton {
           cursor: pointer;

           #themeicon {
             color: #f5f5f5 !important;
           }

         }

         .selectedicon {
           background: #313131 !important;
         }
       }

       .autothemediv {
         .autothemtext {
           color: #f5f5f5 !important;
         }
       }

       .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
         background: #00baff !important;
       }

       .p-toggleswitch-slider {
         background: #f5f5f5 !important;
       }

       .p-toggleswitch-handle {
         background: #333 !important;
       }
     }



     .maincontainer.darkmaincontainer {
       background-color: #1c1c1c !important;

       h1,
       p {
         color: #fff !important;
       }

       .right_container {
         .firstdiv {
           .settingsdiv {

             .settingsicon {
               color: #f5f5f5 !important;
             }
           }


         }

         .maindiv {
           .innermaincontainer {
             .rightcontainer {
               .namediv {
                 .hellodiv {
                   color: #f5f5f5 !important;
                 }

                 .namedivtext {
                   color: #f5f5f5 !important;
                 }

                 .designationdiv {
                   color: #f5f5f5 !important;
                 }
               }

               .resumediv {
                 .downloadbuttondiv {
                   border: 1.5px solid #00baff;
                   background-image: linear-gradient(to right, #00baff 0%, #47ccfe 60%, #85deff 100%);

                   .downloadtext {
                     color: #333 !important;
                   }

                   .downloadbtnsection {
                     .downloadbutton {
                       background: -webkit-linear-gradient(#004F9F, #ff4141);
                       -webkit-background-clip: text;
                       -webkit-text-fill-color: #00000000;
                     }
                   }
                 }

               }

               .informationdiv {
                 color: #f5f5f5 !important;
               }
             }
           }
         }
       }

       .left_container {
         .side_detailscircle {
           background: #00baff !important;
         }
       }

       .navbarmenu {
         .navbarmenucontainer {
           background: #16161617;
           box-shadow: 0 0 2px #dfdfdf,
             inset 0 0 2px #161616;

           .logodiv {
             .logos {
               .menulogos {
                 color: #f5f5f5;
               }
             }

             .selectednavitem {
               background-image: linear-gradient(to right, #00baff 0%, #47ccfe 60%, #85deff 100%);

               .menulogos {
                 background: -webkit-linear-gradient(#004F9F, #ff4141);
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: #00000000;
               }
             }

           }
         }
       }
     }

     html,
     body {
       height: 100%;
     }

     body {
       margin: 0;
       font-family: Roboto, "Helvetica Neue", sans-serif;
     }